body {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(/imagenes/fondo.jpg);
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    overflow: hidden;
}

.papito {
    padding: 2% 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.imagen{
    width: 100%;
}

.seleccion-boton {
    padding: 0px;
    background-color: rgb(0, 1, 17);
    border-radius: 7px;
    box-shadow: 0 3px 5px;
    cursor: pointer;
}

.seleccion-boton:hover {
    background-color: #ddd;
}
@media (max-width: 272px) {
    .papito {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 273px) and (max-width: 600px) {
    .papito {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .papito {
        grid-template-columns: repeat(3, 1fr);
    }
}